{% extends "DWDCSAdminBundle:Layout:layout.html.twig" %}

{% block body %}
<div class="ch-container">
    <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
                <div>
        <ul class="breadcrumb">
            <li>
                <a href="/">首页</a>
            </li>
            <li>
                用户投诉
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="box col-md-12">
            <div class="box-inner">
                <div class="box-header well">
                    <h2><i class="glyphicon glyphicon-user"></i> {{ 'title.userinfo'|trans }}</h2>
                </div> 
                <div class="box-content">
                    <ul class="dashboard-list">
                        <li> 
                            <img class="dashboard-avatar" src="{{ userinfo['avatar'] }}">
                            <strong>{{ 'label.user_id'|trans }}&nbsp;:&nbsp;</strong><span id='info-userid'></span><br><br>
                            <strong>{{ 'label.username'|trans }}&nbsp;:&nbsp;</strong><span id='info-username'></span><br><br>
                            <strong>{{ 'label.locked'|trans }}&nbsp;:&nbsp;</strong><span id='info-locked'></span><br><br> 
                            <strong>{{ 'label.mobile'|trans }}&nbsp;:&nbsp;</strong><span id='info-mobile'></span><br><br>
                            <strong>{{ 'label.balance'|trans }}&nbsp;:&nbsp;</strong><span id='info-balance'></span><br><br>
                            <strong>{{ 'label.coin'|trans }}&nbsp;:&nbsp;</strong><span id='info-coin'></span><br><br>
                            <strong>{{ 'label.last_login'|trans }}&nbsp;:&nbsp;</strong><span id='info-lastLogin'></span><br><br>
                            <strong>{{ 'label.created_at'|trans }}&nbsp;:&nbsp;</strong><span id='info-createdAt'></span><br><br>

                        </li>
                    <ul>
                </div>
            </div>
        </div>
    </div> 

    {% if '' != needDealOrder %}
    <div class="row">
        <div class="box col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2>待处理订单</h2>

                    <div class="box-icon"> 
                        <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                class="glyphicon glyphicon-chevron-up"></i></a> 
                    </div>
                </div> 
                <div class="box-content" id="needDealOrderContent"> 
                    {{needDealOrder|raw}}
                </dib>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="box col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2>{{ 'title.order_list'|trans }}</h2>

                    <div class="box-icon"> 
                        <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                class="glyphicon glyphicon-chevron-up"></i></a> 
                    </div>
                </div>
                <div class="box-content">
                    <br />
                    <ul class="nav nav-tabs" id="orderListTab">
                        {% for typeLabel in orderlistTypes %}
                            <li><a href="#{{typeLabel['code']}}">{{typeLabel['label']}}</a></li>
                        {% endfor %}
                    </ul><br />
                    <div id="orderListTabContent" class="tab-content">
                    {% for typeLabel in orderlistTypes %}
                        <div class="tab-pane active" id="{{typeLabel['code']}}">
                            <table id="{{typeLabel['code']}}-orderlist-table" class="table table-striped table-bordered bootstrap-datatable responsive">
                            <thead>
                            <tr> 
                                {% for thInfo in typeLabel['head'] %}
                                    <th>{{ thInfo }}</th>
                                {% endfor %}
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            </table>
                        </div>
                    {% endfor %} 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2>{{ 'title.complaintrecords_list'|trans }}</h2>

                    <div class="box-icon"> 
                        <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                class="glyphicon glyphicon-chevron-up"></i></a> 
                    </div>
                </div>
                <div class="box-content"> 
                    <table id="complaintrecords-table" class="table table-striped table-bordered bootstrap-datatable responsive">
                    <thead>
                    <tr>
                        <th>分类</th>
                        <th>标签</th>
                        <th>商品</th>
                        <th>门店</th>
                        <th>时间</th> 
                        <th>操作</th>  
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    </table> 
             </div>
        </div>
    </div>

    <div class="modal fade" id="coinRecordsModal" tabindex="-1" role="dialog" aria-labelledby="coinRecordsModal"  aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>{{ 'title.coin_record_list'|trans }}</h3>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-bordered bootstrap-datatable responsive" id="coinrecords-table">
                    <thead>
                    <tr>
                        <th>金币数</th>
                        <th>类型</th>
                        <th>备注</th>
                        <th>时间</th> 
                    </tr>
                    </thead>
                    <tbody>  
                    </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <a href="#" id="viewCoinRecords-submit" class="btn btn-primary" data-dismiss="modal">投诉</a> 
                    <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="balanceRecordsModal" tabindex="-1" role="dialog" aria-labelledby="balanceRecordsModal"  aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>{{ 'title.balance_record_list'|trans }}</h3>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-bordered bootstrap-datatable responsive" id="balancerecords-table">
                    <thead>
                    <tr>
                        <th>{{ 'label.name'|trans }}</th>
                        <th>{{ 'label.record_type'|trans }}</th>
                        <th>余额明细</th>
                        <th>{{ 'label.current_balance'|trans }}</th>
                        <th>{{ 'label.created_at'|trans }}</th> 
                    </tr>
                    </thead>
                    <tbody>  
                    </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <a href="#" id="viewBalanceRecords-submit" class="btn btn-primary" data-dismiss="modal">投诉</a> 
                    <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="lockedRecordsModal" tabindex="-1" role="dialog" aria-labelledby="lockedRecordsModal"
         aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>{{ 'title.locked_record_list'|trans }}</h3>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-bordered bootstrap-datatable responsive" id="lockedrecords-table">
                    <thead>
                    <tr>
                        <th>封号时间</th>
                        <th>解封时间</th>
                        <th>封号原因</th>
                        <th>备注</th> 
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <a href="#" id="viewLockUserRecords-submit" class="btn btn-primary" data-dismiss="modal">投诉</a> 
                    <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="recommendRecordsModal" tabindex="-1" role="dialog" aria-labelledby="recommendRecordsModal"  aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>{{ 'title.recommend_record_list'|trans }}</h3>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-bordered bootstrap-datatable responsive" id="recommendrecords-table">
                    <thead>
                    <tr> 
                        <th>{{ 'label.recommend_user_id'|trans }}</th>
                        <th>{{ 'label.created_at'|trans }}</th>
                        <th>{{ 'label.note'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <a href="#" id="viewRecommendRecords-submit" class="btn btn-primary" data-dismiss="modal">投诉</a> 
                    <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="smsRecordsModal" tabindex="-1" role="dialog" aria-labelledby="smsRecordsModal"  aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>{{ 'title.sms_record_list'|trans }}</h3>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-bordered bootstrap-datatable responsive" id="smsrecords-table">
                    <thead>
                    <tr> 
                        <th>{{ 'label.type'|trans }}</th>
                        <th>{{ 'label.content'|trans }}</th>
                        <th>{{ 'label.create_at'|trans }}</th> 
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <a href="#" id="viewSMSRecords-submit" class="btn btn-primary" data-dismiss="modal">投诉</a> 
                    <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="userNotificationRecordsModal" tabindex="-1" role="dialog" aria-labelledby="userNotificationRecordsModal"  aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>{{ 'title.notice_record_list'|trans }}</h3>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-bordered bootstrap-datatable responsive" id="userNotificationrecords-table">
                        <thead>
                        <tr>
                            <th>{{ 'label.title'|trans }}</th>
                            <th>{{ 'label.content'|trans }}</th>
                            <th>{{ 'label.create_at'|trans }}</th>
                            <th>{{ 'label.end_time'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <a href="#" id="viewNoticeRecords-submit" class="btn btn-primary" data-dismiss="modal">投诉</a>
                    <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="resetPwdModal" tabindex="-1" role="dialog" aria-labelledby="resetPwdModal" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>重置密码</h3>
                </div>
                <div class="modal-body"> 
                    <span>重置密码, 并发送新密码至手机号: {{ userinfo['mobile'] }}?</span>
                </div>
                <div class="modal-footer">
                    <a href="#" id="resetPwd-submit-btn" class="btn btn-primary">确认</a>
                    <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="deviceUnbindModal" tabindex="-1" role="dialog" aria-labelledby="deviceUnbindModal" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>设备解绑</h3>
                </div>
                <div class="modal-body">  
                     <div class="control-group">
                        <label class="control-label" for="selectError">解绑原因:</label>
                        <div class="controls">
                            <select id="selectUnbiundReason" >
                                <option value=1>别人帐号在我手机上登录了</option>
                                <option value=2>原来的手机号不用了</option>
                                <option value=3>一个帐号在好几个设备上登录了</option>
                                <option value=4>其他原因</option> 
                            </select>
                        </div>
                     </div><br /> 
                </div>
                <div class="modal-footer">
                    <a href="#" id="deviceUnbind-submit-btn" class="btn btn-primary">解绑</a>
                    <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="lockUserModal" tabindex="-1" role="dialog" aria-labelledby="lockUserModal" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>封号</h3>
                </div>
                <div class="modal-body">  
                     <div class="control-group"> 
                         <div class="input-group col-md-4">
                            <span class="input-group-addon">封号原因</span>
                            <select id="selectlockReason" >
                                <option value=1>使用多个帐号重复购买同一商品</option>
                                <option value=2>领用时使用截图或抄写验证码</option>
                                <option value=3>一天内在同一门店零用一份以上商品</option>
                                <option value=4>与商户发生纠纷,在门店内闹事</option>
                                <option value=5>转卖爱抢购订单进行牟利</option>
                                <option value=6>其他</option>
                                <option value=7>退款过多</option> 
                            </select>
                         </div><br />
                         <div class="input-group col-md-4">
                            <span class="input-group-addon">备注</span>
                            <textarea id="lockNote"></textarea>
                         </div><br />
                     </div><br /> 
                </div>
                <div class="modal-footer">
                    <a href="#" id="lockUser-submit-btn" class="btn btn-primary">封号</a>
                    <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="correctModal" tabindex="-1" role="dialog" aria-labelledby="correctModal" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>纠错</h3>
                </div>
                <div class="modal-body">  
                     <div class="control-group">
                         <div class="input-group col-md-4">
                            <span class="input-group-addon">纠错内容</span>
                            <select id="correctContent" >
                                <option value='商家地址有误'>商家地址有误</option>
                                <option value='地图位置有误'>地图位置有误</option>
                                <option value='商家兑换时间有误'>商家兑换时间有误</option>
                                <option value='商品信息有误'>商品信息有误</option>
                                <option value='其他信息有误'>其他信息有误</option> 
                            </select>
                         </div><br />
                         <div class="input-group col-md-4">
                            <span class="input-group-addon">备注</span>
                            <textarea id="correctNote"></textarea>
                            <input id="correctOrderId" type="hidden" />
                            <input id="correctItemName" type="hidden" />
                            <input id="correctBranchName" type="hidden" />
                         </div><br /> 
                         <div class="input-group col-md-4 campaign-order-list">
                         </div><br /> 
                     </div><br /> 
                </div>
                <div class="modal-footer">
                    <a href="#" id="correct-submit-btn" class="btn btn-primary">保存</a>
                    <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="orderDetailModal" tabindex="-1" role="dialog" aria-labelledby="orderDetailModal" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>订单详情</h3>
                </div>
                <div id="orderDetailTable" class="modal-body">
                </div>
                <div class="modal-footer"> 
                    <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="orderLogModal" tabindex="-1" role="dialog" aria-labelledby="orderLogModal" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>订单日志记录</h3>
                </div>
                <div id="orderLogTable" class="modal-body">
                </div>
                <div class="modal-footer"> 
                    <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
                </div>
            </div>
        </div>
    </div> 

    <div class="modal fade" id="complaintRecordModal" tabindex="-1" role="dialog" aria-labelledby="orderLogModal" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>投诉详情</h3>
                </div>
                <div id="complaintRecordTable" class="modal-body">
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="orderRefundModal" tabindex="-1" role="dialog" aria-labelledby="orderRefundModal" aria-hidden="true">

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h3>退款</h3>
                    </div>
                    <div class="modal-body">
                        <div class="control-group">
                            <div class="input-group col-md-4">
                                <span class="input-group-addon">退款原因</span>
                                <select id="orderRefundReason" >
                                    <option value='8'>来不及消费</option>
                                    <option value='9'>不想要了</option>
                                    <option value="10">商家停业</option>
                                    <option value="11">商家拒绝领用</option>
                                    <option value="6">商家断货</option>
                                    <option value="7">其他</option>
                                </select>
                            </div><br />
                            <div class="input-group col-md-4 campaign-order-list">
                            </div><br />
                            <input id="refundOrderId" type="hidden" />
                        </div><br />
                    </div>
                    <div class="modal-footer">
                        <a href="#" id="orderRefund-submit-btn" class="btn btn-primary">保存</a>
                        <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
                    </div>
                </div>
            </div>
    </div>
 
</div>
<script type="text/javascript" >
    operator      = new Array();
    userinfo      = {{jsonUserInfo|raw}};
    userDevicesCount = parseInt({{userDevicesCount}});

    function __init(){
        $("#info-userid").html( userinfo.id );
        userName   = userinfo.username + "&nbsp;&nbsp;&nbsp;<a id='resetPwd-btn' href='#'>[重置密码]</a>";
        $("#info-username").html( userName );
        lockedinfo = '';
        if( 0 != userinfo.enabled ){
            lockedinfo += "<span class='label-success label label-default'>可用</span>&nbsp;&nbsp;&nbsp;";
        } else {
            lockedinfo += "<span class='label-important label label-default'>禁用</span>&nbsp;&nbsp;&nbsp;";
        }

        if( 0 == userinfo.locked ){
            lockedinfo += "<span class='label-success label label-default'>未封号</span>&nbsp;&nbsp;&nbsp;<a id='lock-user-btn' href='#'>[封号]</a>";
        } else {
            lockedinfo += "<span class='label-important label label-default'>已封号</span>";
        }
        lockedinfo     += "&nbsp;&nbsp;&nbsp;<a id='lockedrecords-btn' href='#'>[封号记录]</a>";
        $("#info-locked").html( lockedinfo );
        mobileinfo      = userinfo.mobile;
        if ( userDevicesCount ) {
            mobileinfo += "&nbsp;&nbsp;&nbsp;<a id='unbind-device-btn' href='#'>[解绑设备]</a>&nbsp;&nbsp;&nbsp;";
        } else {
            mobileinfo += "&nbsp;&nbsp;&nbsp;未绑定设备&nbsp;&nbsp;&nbsp;";
        }
        $("#info-mobile").html( mobileinfo ); 
        balanceinfo     = userinfo.balance + "元&nbsp;&nbsp;&nbsp;<a id='balancerecords-btn' href='#'>[余额记录]</a>"; 
        $("#info-balance").html( balanceinfo );
        coininfo        = ( userinfo.coin == null ? 0 : userinfo.coin ) + "&nbsp;&nbsp;&nbsp;<a id='coinrecords-btn' href='#'>[金币记录]</a>&nbsp;&nbsp;&nbsp;<a id='recommendrecords-btn' href='#'>[推荐好友记录]</a>"; 
        $("#info-coin").html( coininfo );
        $("#info-lastLogin").html( userinfo.last_login );
        $("#info-createdAt").html( userinfo.created_at + "&nbsp;&nbsp;&nbsp;<a id='smsrecords-btn' href='#''>[短信记录]</a>" +"&nbsp;&nbsp;&nbsp;<a id='UserNotificationRecords' href='#''>[查看用户通知中心记录]</a>" );
    }

    $(document).ready(function() {
        __init();
        {% set bFilterFlag = true %}
        {% for typeLabel in orderlistTypes %}
            $('#{{typeLabel['code']}}-orderlist-table').dataTable({
                "bProcessing": true,
                "bStateSave": true,
                "bFilter": parseInt({{ bFilterFlag }}),
                "bServerSide":  true,
                "sAjaxSource": "/user/orderlist?userId={{userId}}&type={{typeLabel['code']}}",
                "sDom": "<'row'<'col-md-6'l><'col-md-6'f>r>t<'row'<'col-md-12'i><'col-md-12 center-block'p>>",
                "sPaginationType": "bootstrap",
                "oLanguage": { //国际化配置  
                    "sProcessing" : "正在获取数据，请稍后...",    
                    "sLengthMenu" : "显示 _MENU_ 条",    
                    "sZeroRecords" : "没有您要搜索的内容",    
                    "sInfo" : "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",    
                    "sInfoEmpty" : "记录数为0",    
                    "sInfoFiltered" : "(全部记录数 _MAX_ 条)",    
                    "sInfoPostFix" : "",    
                    "sSearch" : "搜索订单",    
                    "sUrl" : "", 
                    "oPaginate": {    
                        "sFirst" : "第一页",    
                        "sPrevious" : "上一页",    
                        "sNext" : "下一页",    
                        "sLast" : "最后一页"    
                    }
                },
                "aoColumnDefs": [
                        {"bSortable": false, "aTargets": [1, 2]},
                    ],
            });
        {% set bFilterFlag = false %}
        {% endfor %}

        $('#complaintrecords-table').dataTable({
                "bProcessing": true,
                "bStateSave": true,
                "bFilter": false,
                "bServerSide":  true,
                "sAjaxSource": "/user/complaintrecords?userId={{userId}}",
                "sDom": "<'row'<'col-md-6'l><'col-md-6'f>r>t<'row'<'col-md-12'i><'col-md-12 center-block'p>>",
                "sPaginationType": "bootstrap",
                "oLanguage": { //国际化配置  
                    "sProcessing" : "正在获取数据，请稍后...",    
                    "sLengthMenu" : "显示 _MENU_ 条",    
                    "sZeroRecords" : "没有您要搜索的内容",    
                    "sInfo" : "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",    
                    "sInfoEmpty" : "记录数为0",    
                    "sInfoFiltered" : "(全部记录数 _MAX_ 条)",    
                    "sInfoPostFix" : "",    
                    "sSearch" : "搜索",    
                    "sUrl" : "", 
                    "oPaginate": {    
                        "sFirst" : "第一页",    
                        "sPrevious" : "上一页",    
                        "sNext" : "下一页",    
                        "sLast" : "最后一页"    
                    }
                }, 
                "aoColumnDefs": [
                        {"bSortable": false, "aTargets": [1, 2, 3, 4, 5]},
                    ],
        }); 

        $('#coinrecords-table').dataTable({
                "bProcessing": true,
                "bStateSave": true,
                "bFilter": false, 
                "bServerSide":  true,
                "sAjaxSource": "/user/coinrecords?userId={{userId}}",
                "sDom": "<'row'<'col-md-6'l><'col-md-6'f>r>t<'row'<'col-md-12'i><'col-md-12 center-block'p>>",
                "sPaginationType": "bootstrap",
                "oLanguage": { //国际化配置  
                    "sProcessing" : "正在获取数据，请稍后...",    
                    "sLengthMenu" : "显示 _MENU_ 条",    
                    "sZeroRecords" : "没有您要搜索的内容",    
                    "sInfo" : "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",    
                    "sInfoEmpty" : "记录数为0",    
                    "sInfoFiltered" : "(全部记录数 _MAX_ 条)",    
                    "sInfoPostFix" : "",    
                    "sSearch" : "搜索",    
                    "sUrl" : "", 
                    "oPaginate": {    
                        "sFirst" : "第一页",    
                        "sPrevious" : "上一页",    
                        "sNext" : "下一页",    
                        "sLast" : "最后一页"    
                    }
                },
                "aoColumnDefs": [
                        {"bSortable": false, "aTargets": [1, 2]},
                    ],
        });

        $('#balancerecords-table').dataTable({
                "bProcessing": true,
                "bStateSave": true,
                "bFilter": false,
                "bServerSide":  true,
                "sAjaxSource": "/user/balancerecords?userId={{userId}}",
                "sDom": "<'row'<'col-md-6'l><'col-md-6'f>r>t<'row'<'col-md-12'i><'col-md-12 center-block'p>>",
                "sPaginationType": "bootstrap",
                "oLanguage": { //国际化配置  
                    "sProcessing" : "正在获取数据，请稍后...",    
                    "sLengthMenu" : "显示 _MENU_ 条",    
                    "sZeroRecords" : "没有您要搜索的内容",    
                    "sInfo" : "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",    
                    "sInfoEmpty" : "记录数为0",    
                    "sInfoFiltered" : "(全部记录数 _MAX_ 条)",    
                    "sInfoPostFix" : "",    
                    "sSearch" : "搜索",    
                    "sUrl" : "", 
                    "oPaginate": {    
                        "sFirst" : "第一页",    
                        "sPrevious" : "上一页",
                        "sNext" : "下一页",    
                        "sLast" : "最后一页"    
                    }
                },
                "aoColumns": [
                        {"mData": 'user_id'},
                        {"mData": 'type'},
                        {"mData": 'amount'},
                        {"mData": 'current_balance'},
                        {"mData": 'created_at'}, 
                    ],
                "aoColumnDefs": [
                        {"bSortable": false, "aTargets": [1, 2, 3, 4]},
                    ],
        });

        $('#lockedrecords-table').dataTable({
                "bProcessing": true,
                "bStateSave": true,
                "bFilter": false,
                "bServerSide":  true,
                "sAjaxSource": "/user/lockedrecords?userId={{userId}}",
                "sDom": "<'row'<'col-md-6'l><'col-md-6'f>r>t<'row'<'col-md-12'i><'col-md-12 center-block'p>>",
                "sPaginationType": "bootstrap",
                "oLanguage": { //国际化配置  
                    "sProcessing" : "正在获取数据，请稍后...",    
                    "sLengthMenu" : "显示 _MENU_ 条",    
                    "sZeroRecords" : "没有您要搜索的内容",    
                    "sInfo" : "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",    
                    "sInfoEmpty" : "记录数为0",    
                    "sInfoFiltered" : "(全部记录数 _MAX_ 条)",    
                    "sInfoPostFix" : "",    
                    "sSearch" : "搜索",    
                    "sUrl" : "", 
                    "oPaginate": {    
                        "sFirst" : "第一页",    
                        "sPrevious" : "上一页",    
                        "sNext" : "下一页",    
                        "sLast" : "最后一页"    
                    }
                }, 
                "aoColumnDefs": [
                        {"bSortable": false, "aTargets": [1, 2, 3]},
                    ],
        });

        $('#recommendrecords-table').dataTable({
                "bProcessing": true,
                "bStateSave": true,
                "bServerSide":  true,
                "bFilter": false,
                "bSortable": false, 
                "sAjaxSource": "/user/recommendrecords?userId={{userId}}",
                "sDom": "<'row'<'col-md-6'l><'col-md-6'f>r>t<'row'<'col-md-12'i><'col-md-12 center-block'p>>",
                "sPaginationType": "bootstrap",
                "oLanguage": { //国际化配置  
                    "sProcessing" : "正在获取数据，请稍后...",    
                    "sLengthMenu" : "显示 _MENU_ 条",    
                    "sZeroRecords" : "没有您要搜索的内容",    
                    "sInfo" : "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",    
                    "sInfoEmpty" : "记录数为0",    
                    "sInfoFiltered" : "(全部记录数 _MAX_ 条)",    
                    "sInfoPostFix" : "",    
                    "sSearch" : "搜索",    
                    "sUrl" : "", 
                    "oPaginate": {    
                        "sFirst" : "第一页",    
                        "sPrevious" : "上一页",    
                        "sNext" : "下一页",    
                        "sLast" : "最后一页"    
                    }
                },
                "aoColumns": [ 
                        {"mData": 'recommend_user_id'}, 
                        {"mData": 'created_at'},
                        {"mData": 'note'}
                    ]
        });
        //短信信息
        $('#smsrecords-table').dataTable({
                "bProcessing": true,
                "bStateSave": true,
                "bServerSide":  true,
                "bFilter": false,
                "bSortable": false, 
                "sAjaxSource": "/user/smsrecords?userId={{userId}}",
                "sDom": "<'row'<'col-md-6'l><'col-md-6'f>r>t<'row'<'col-md-12'i><'col-md-12 center-block'p>>",
                "sPaginationType": "bootstrap",
                "oLanguage": { //国际化配置  
                    "sProcessing" : "正在获取数据，请稍后...",    
                    "sLengthMenu" : "显示 _MENU_ 条",    
                    "sZeroRecords" : "没有您要搜索的内容",    
                    "sInfo" : "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",    
                    "sInfoEmpty" : "记录数为0",    
                    "sInfoFiltered" : "(全部记录数 _MAX_ 条)",    
                    "sInfoPostFix" : "",    
                    "sSearch" : "搜索",    
                    "sUrl" : "", 
                    "oPaginate": {    
                        "sFirst" : "第一页",    
                        "sPrevious" : "上一页",    
                        "sNext" : "下一页",    
                        "sLast" : "最后一页"    
                    }
                },
                "aoColumns": [ 
                        {"mData": 'type'}, 
                        {"mData": 'content'},
                        {"mData": 'create_at'}, 
                    ]
        });
        //用户通知中心信息
        $('#userNotificationrecords-table').dataTable({
            "bProcessing": true,
            "bStateSave": true,
            "bServerSide":  true,
            "bFilter": false,
            "bSortable": false,
            "sAjaxSource": "/user/noticerecords?userId={{userId}}",
            "sDom": "<'row'<'col-md-6'l><'col-md-6'f>r>t<'row'<'col-md-12'i><'col-md-12 center-block'p>>",
            "sPaginationType": "bootstrap",
            "oLanguage": { //国际化配置
                "sProcessing" : "正在获取数据，请稍后...",
                "sLengthMenu" : "显示 _MENU_ 条",
                "sZeroRecords" : "没有您要搜索的内容",
                "sInfo" : "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
                "sInfoEmpty" : "记录数为0",
                "sInfoFiltered" : "(全部记录数 _MAX_ 条)",
                "sInfoPostFix" : "",
                "sSearch" : "搜索",
                "sUrl" : "",
                "oPaginate": {
                    "sFirst" : "第一页",
                    "sPrevious" : "上一页",
                    "sNext" : "下一页",
                    "sLast" : "最后一页"
                }
            },
            "aoColumns": [
                {"mData": 'title'},
                {"mData": 'content'},
                {"mData": 'create_at'},
                {"mData": 'end_time'}
            ]
        });

        $("#resetPwd-submit-btn").click(function(e){
            if( $(this).hasClass('disabled') ){
              alert('请勿重复提交');
              return ;
            }
            $(this).addClass('disabled');

            if(!confirm("确认重置?")){
                return ;
            }
 
            var record       = new Object();
            record.type      = "重置密码";
            record.userId    = {{userId}};
            record.userName  = "{{userinfo['username']}}";

            $.ajax({    
                type:'post',        
                url:'/user/resetPwd',    
                data:{userId:{{userId}}},
                dataType:'json',    
                success:function(data){
                   if( true == data.result ){ 
                       alert('重置成功');
                      record.res = true; 
                      location.href = "/complaintform/resetpwd?userId={{userId}}&mobile={{ userinfo['mobile'] }}";
                   } else {
                      alert( '重置失败');
                      record.res = false;
                   }
                },
                error:function (req,err) {
                   record.res = false;
                   record.err = err;  
                   alert( '重置失败' ); 
                }     
            });
            operator.push(record);
            $(this).removeClass('disabled');    
        });

        $("#lockUser-submit-btn").click(function(e){
            if(!confirm("需要该用户进行封号，待二线客服跟进确认。")){
                return ;
            }
            selectlockReason = $("#selectlockReason").val();
            lockNote         = $("#lockNote").val();

            var record       = new Object();
            record.type      = "封号";
            record.reason    = selectlockReason;
            record.userId    = {{userId}};  
            record.note      = lockNote; 
            
            operator.push(record);
            alert('提交成功');
            $("#lock-user-btn").addClass('hide');
            $('#lockUserModal').modal('hide');
            location.href = "/complaintform/lockuser?userId={{userId}}&reason=" + selectlockReason + "&note=" + lockNote + "&mobile={{ userinfo['mobile'] }}";
        }); 

        $("#deviceUnbind-submit-btn").click(function(e){
            if(!confirm("确认解绑?")){
                return ;
            }
            reason           = $("#selectUnbiundReason").val();
            var record       = new Object();
            record.type      = "解绑设备";
            record.reason    = reason;
            record.userId    = {{userId}};   

            $.ajax({    
                type:'post',        
                url:'/user/unbinddevice',    
                data:{userId:{{userId}},reason:reason},
                dataType:'json',    
                success:function(data){
                   if( true == data.result ){
                      record.res  = true;
                      alert( '解绑成功' );
                      location.href = "/complaintform/unbinduser?userId={{userId}}&reason=" + reason + "&mobile={{ userinfo['mobile'] }}";
                   } else {
                      record.res  = false;
                      alert( '解绑失败' );
                   }
                },
                error:function (req,err) {
                   record.res = false;
                   record.err = err;  
                   alert( '解绑失败' ); 
                }    
            });
            operator.push(record);    
        });

        $("#correct-submit-btn").click(function(e){
            if( $(this).hasClass('disabled') ){
              alert('请勿重复提交');
              return ;
            }
            $(this).addClass('disabled');

            correctContent    = $("#correctContent").val();
            correctNote       = $("#correctNote").val();
            correctOrderId    = $("#correctOrderId").val();
            var record        = new Object();
            record.type       = "纠错";
            record.content    = correctContent;
            record.orderId    = correctOrderId;
            record.note       = correctNote;
            record.itemName   = $("#correctItemName").val();
            record.branchName = $("#correctBranchName").val();

            
            operator.push(record);
            alert('提交成功'); 
            $(this).removeClass('disabled');
            $('#correctModal').modal('hide');
            needOffline   = $('input[name="correctOffline"]:checked').val();
            location.href = "/complaintform/ordercorrect?orderId=" + correctOrderId + "&correctContent=" + correctContent + "&correctNote=" + correctNote + "&needOffline=" + needOffline + "&mobile={{ userinfo['mobile'] }}";
        });

        $('#orderRefund-submit-btn').click(function(e){
            if( $(this).hasClass('disabled') ){
                alert('请勿重复提交');
                return ;
            }
            $(this).addClass('disabled');

            if(!confirm("确认退款?")){
                $(this).removeClass('disabled');
                $('#correctModal').modal('hide');
                return ;
            }

            var refundOrderId     = $("#refundOrderId").val();
            var feedbackId        = $("#orderRefundReason").val();
            var orderRefundReason = $("#orderRefundReason option[value='" + feedbackId + "']").text();
            var needOffline       = $('input[name="orderRefundOffline"]:checked').val();
            var offlined          = 0;
            var record            = new Object();
            if($('#orderRefundModal .campaignOfflined').length){
                offlined          = 1;
            }
            record.type           = "退款";
            record.reason         = orderRefundReason;
            record.offline        = needOffline;

            operator.push(record);

            $.ajax({
                type:'post',
                url:'/order/refund',
                data:{orderId: refundOrderId, feedbackId: feedbackId, makeup: offlined},
                dataType:'json',
                success:function(data){
                    if( data.result == true ){
                        alert('退款成功');
                        $(this).removeClass('disabled');
                        $('#correctModal').modal('hide');
                        location.href = "/complaintform/orderrefund?orderId=" + refundOrderId + "&orderRefundReason=" + orderRefundReason + "&needOffline=" + needOffline + "&mobile={{ userinfo['mobile'] }}";
                    } else{
                        alert('退款失败');
                        $(this).removeClass('disabled');
                        $('#correctModal').modal('hide');
                    }
                },
                error:function (req,err) {
                    $(this).removeClass('disabled');
                    $('#correctModal').modal('hide');
                    alert( '提交失败' );
                },
            });
        });

        $('#orderListTab a:first').tab('show');
        $('#orderListTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        $('#coinrecords-btn').click(function (e) {
            e.preventDefault();
            $('#coinRecordsModal').modal('show');
        });

        $('#balancerecords-btn').click(function (e) {
            e.preventDefault();
            $('#balanceRecordsModal').modal('show');
        });

        $('#lockedrecords-btn').click(function (e) {
            e.preventDefault();
            $('#lockedRecordsModal').modal('show');
        });

        $('#recommendrecords-btn').click(function (e) {
            e.preventDefault();
            $('#recommendRecordsModal').modal('show');
        });

        $('#smsrecords-btn').click(function (e) {
            e.preventDefault();
            $('#smsRecordsModal').modal('show');
        });

        $('#UserNotificationRecords').click(function (e) {
            e.preventDefault();
            $('#userNotificationRecordsModal').modal('show');
        });

        $('#resetPwd-btn').click(function (e) {
            e.preventDefault();
            $('#resetPwdModal').modal('show');
        }); 

        $("#unbind-device-btn").click(function (e) {
            e.preventDefault();
            $('#deviceUnbindModal').modal('show');
        }); 

        $("#lock-user-btn").click(function (e) {
            e.preventDefault();
            $("#lockNote").val('');
            $('#lockUserModal').modal('show');
        });

        $("#orderListTabContent").on("click", ".order-correct-btn", function (e) {
            e.preventDefault();
            $('#correctModal').modal('show');
            $("#campaignNeedOffline").attr("checked", false);
            $('#correctNote').val("");
            $("#correctOrderId").val( $(this).attr("data-rel") );
            $("#correctItemName").val($(this).parent().prev().prev().prev().text());
            $("#correctBranchName").val($(this).parent().prev().prev().text());
            var campaignBranchEnabled = parseInt($(this).attr("data-campaign-branch-enabled-rel"));
            if( campaignBranchEnabled ) {
                $('.campaign-order-list').html('<span class="input-group-addon">活动需下线</span> <label class="radio-inline"> <input type="radio" name="orderRefundOffline" id="offline1" value="1"> 是 </label> <label class="radio-inline"> <input type="radio" name="orderRefundOffline" id="offline2" value="0" checked> 否 </label> ');
            } else {
                $('.campaign-order-list').html('<span class="campaignOfflined">活动已下线</span>');
            }
        });

        {% if '' != needDealOrder %}
        $("#needDealOrderContent").on("click", ".order-correct-btn", function (e) {
            e.preventDefault();
            $('#correctModal').modal('show');
            $("#campaignNeedOffline").attr("checked", false);
            $('#correctNote').val("");
            $("#correctOrderId").val( $(this).attr("data-rel") );
            $("#correctItemName").val($(this).parent().prev().prev().prev().text());
            $("#correctBranchName").val($(this).parent().prev().prev().text());
            var campaignBranchEnabled = parseInt($(this).attr("data-campaign-branch-enabled-rel"));
            if( campaignBranchEnabled ) {
                $('.campaign-order-list').html('<span class="input-group-addon">活动需下线</span> <label class="radio-inline"> <input type="radio" name="orderRefundOffline" id="offline1" value="1"> 是 </label> <label class="radio-inline"> <input type="radio" name="orderRefundOffline" id="offline2" value="0" checked> 否 </label> ');
            } else {
                $('.campaign-order-list').html('<span class="campaignOfflined">活动已下线</span>');
            }
        }); 
        {% endif %}

        $("#orderListTabContent").on("click", ".order-log-btn", function (e) { 
            $("#orderLogTable").html("");
            e.preventDefault();
            $('#orderLogModal').modal('show'); 
            orderId  =  $(this).attr("data-rel");
            $.ajax({    
                type:'post',        
                url:'/order/orderlogs',    
                data:{orderId:orderId},
                dataType:'json',    
                success:function(data){
                  if( data.result ){
                     $("#orderLogTable").html(data.content);
                  } 
                },    
            }); 
        });


        $("#orderListTabContent").on("click", ".order-detail-btn", function (e) {
            $("#orderDetailTable").html("");
            e.preventDefault();
            $('#orderDetailModal').modal('show'); 
            orderId  =  $(this).attr("data-rel");
            $.ajax({    
                type:'post',        
                url:'/order/orderdetail',    
                data:{orderId:orderId},
                dataType:'json',    
                success:function(data){
                  if( data.result ){
                     $("#orderDetailTable").html(data.content);
                  } 
                },    
            }); 
        });


        $("#orderListTabContent").on("click", ".order-refund-btn", function (e) {
            e.preventDefault();
            $('#orderRefundModal').modal('show');
            $("#refundOrderId").val( $(this).attr("data-rel") );
            var campaignBranchEnabled = parseInt($(this).attr("data-campaign-branch-enabled-rel"));
            if( campaignBranchEnabled ) {
                $('.campaign-order-list').html('<span class="input-group-addon">活动需下线</span> <label class="radio-inline"> <input type="radio" name="orderRefundOffline" id="offline1" value="1"> 是 </label> <label class="radio-inline"> <input type="radio" name="orderRefundOffline" id="offline2" value="0" checked> 否 </label> ');
            } else {
                $('.campaign-order-list').html('<span class="campaignOfflined">活动已下线</span>');
            }
        });

        $("#complaintrecords-table").on("click", ".complaint-detail-btn", function (e) {
            $("#complaintRecordTable").html("");
            e.preventDefault();
            $('#complaintRecordModal').modal('show'); 
            complaintId  =  $(this).attr("data-rel");
            $.ajax({    
                type:'post',        
                url:'/complaint/detail',    
                data:{complaintId:complaintId},
                dataType:'json',    
                success:function(data){
                  if( data.result ){
                     $("#complaintRecordTable").html(data.content);
                  } 
                },    
            }); 
        });

        $("#process-submit-btn").click(function (e) {
            if( $(this).hasClass('disabled') ){
              alert('请勿重复提交');
              return ;
            }
            $(this).addClass('disabled');

            mobile = '';
            if( '该门店不存在手机号' != userinfo.mobile && null != userinfo.mobile ){
               mobile = userinfo.mobile;
            }

            $.ajax({    
                type:'post',        
                url:'/complaint/prepare',    
                data:{type:'{{type}}', source: {{source}}, operators: JSON.stringify(operator), userId: {{userId}}, mobile: mobile},
                dataType:'json',    
                success:function(data){
                  if( data.res != false ){
                      location.href = "/complaint/confirm?id=" + data.data;
                  }
                },
                error:function (req,err) { 
                   alert( '提交失败' ); 
                },   
            });  
        });

        $("#viewSMSRecords-submit").click(function (e) {
            location.href = "/complaintform/viewinfo?userId={{userId}}&view=smsrecords&mobile={{ userinfo['mobile'] }}";
        });
        //加载投诉来源,来自通知中心
        $("#viewNoticeRecords-submit").click(function (e) {
            location.href = "/complaintform/viewinfo?userId={{userId}}&view=smsrecords&mobile={{ userinfo['mobile'] }}";
        });

        $("#viewRecommendRecords-submit").click(function (e) {
            location.href = "/complaintform/viewinfo?userId={{userId}}&view=recommendrecords&mobile={{ userinfo['mobile'] }}";
        });

        $("#viewLockUserRecords-submit").click(function (e) {
            location.href = "/complaintform/viewinfo?userId={{userId}}&view=lockuserrecords&mobile={{ userinfo['mobile'] }}";
        });

        $("#viewBalanceRecords-submit").click(function (e) {
            location.href = "/complaintform/viewinfo?userId={{userId}}&view=balancerecords&mobile={{ userinfo['mobile'] }}";
        });

        $("#viewCoinRecords-submit").click(function (e) {
            location.href = "/complaintform/viewinfo?userId={{userId}}&view=coinrecords&mobile={{ userinfo['mobile'] }}";
        });

        $('div.dataTables_filter input').attr('placeholder', '请输入兑换码');
    });
 
 </script>
{% endblock %}