{#
   This is the base template used as the application layout which contains the
   common elements and decorates all the other templates.
   See http://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}多维度彩虹客服后台系统{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" /> 
         {# The styles #}
        <link href="{{ asset('css/default/bootstrap-cerulean.min.css') }}" rel="stylesheet" />

        <link href="{{ asset('css/default/charisma-app.css') }}" rel="stylesheet" />
        <link href="{{ asset('bower_components/fullcalendar/dist/fullcalendar.css' ) }}" rel='stylesheet' />
        <link href="{{ asset('bower_components/fullcalendar/dist/fullcalendar.print.css' ) }}" rel='stylesheet' media='print' />
        <link href="{{ asset('bower_components/chosen/chosen.min.css') }}" rel='stylesheet' />
        <link href="{{ asset('bower_components/colorbox/example3/colorbox.css' ) }}" rel='stylesheet' />
        <link href="{{ asset('bower_components/responsive-tables/responsive-tables.css' ) }}" rel='stylesheet' />
        <link href="{{ asset('bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css') }}" rel='stylesheet' />
        <link href="{{ asset('css/default/jquery.noty.css') }}" rel='stylesheet' />
        <link href="{{ asset('css/default/noty_theme_default.css') }}" rel='stylesheet' />
        <link href="{{ asset('css/default/elfinder.min.css') }}" rel='stylesheet' />
        <link href="{{ asset('css/default/elfinder.theme.css') }}" rel='stylesheet' />
        <link href="{{ asset('css/default/jquery.iphone.toggle.css') }}" rel='stylesheet' />
        <link href="{{ asset('css/default/uploadify.css') }}" rel='stylesheet' />
        <link href="{{ asset('css/default/animate.min.css') }}" rel='stylesheet' />
 
        <script src="{{ asset('bower_components/jquery/jquery.min.js') }}" ></script>
 
        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>

        {% block header %}
            <header>
                <div class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{{ path('dwd_csadmin_dashboard') }}">
                                多维度彩虹系统 <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2::51" alt="彩虹系统bug反馈" title="彩虹系统bug反馈"/></a>
                            </a> 
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                {% block header_navigation_links %}
                                {% endblock %}
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}

        <div class="container body-container">
            {% block body %}
            {% endblock %}
        </div>

        {% block footer %}
        {% endblock %}

    <script src="{{ asset('js/bootstrap.min.js') }}"></script> 
   

    <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
 
    <script src="{{ asset('js/default/jquery.cookie.js') }}"></script>
 
    <script src="{{ asset('bower_components/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('bower_components/fullcalendar/dist/fullcalendar.min.js') }}"></script> 
    <script src="{{ asset('js/default/jquery.dataTables.min.js') }}"></script>
 
    <script src="{{ asset('bower_components/chosen/chosen.jquery.min.js') }}"></script> 
    <script src="{{ asset('bower_components/colorbox/jquery.colorbox-min.js') }}"></script> 
    <script src="{{ asset('js/default/jquery.noty.js') }}"></script> 
    <script src="{{ asset('bower_components/responsive-tables/responsive-tables.js') }}"></script> 
    <script src="{{ asset('bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js') }}"></script> 
    <script src="{{ asset('js/default/jquery.raty.min.js') }}"></script>
    <script src="{{ asset('js/default/jquery.iphone.toggle.js') }}"></script>
    <script src="{{ asset('js/default/jquery.autogrow-textarea.js') }}"></script>
    <script src="{{ asset('js/default/jquery.uploadify-3.1.min.js') }}"></script>
    <script src="{{ asset('js/default/jquery.history.js') }}"></script>
    <script src="{{ asset('js/default/charisma.js') }}"></script>

    {% block javascripts %}
    {% endblock %}

    </body>
</html>
