{% extends "DWDCSAdminBundle:Layout:layout.html.twig" %}

{% block body %}
    <h1>{{ 'title.product_list'|trans }}</h1>

    <input type="text" id="autoText">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'label.name'|trans }}</th>
            <th>{{ 'label.price'|trans }}</th>
            <th>{{ 'label.description'|trans }}</th>
            <th><i class="fa fa-cogs"></i> {{ 'label.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.description }}</td>
                <td>
                    <div class="item-actions">
                        <a href="{{ path('dwd_csadmin_product_show', { id: product.id }) }}" class="btn btn-sm btn-default">
                            {{ 'action.show'|trans }}
                        </a>

                            <a href="{{ path('dwd_csadmin_product_edit', { id: product.id }) }}" class="btn btn-sm btn-primary">
                                <i class="fa fa-edit"></i> {{ 'action.edit'|trans }}
                            </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4">
                {{ knp_pagination_render(products) }}
            </td>
        </tr>
        </tfoot>
    </table>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('#autoText').autocompleter({url_list: '/admin/autocomplete-branch/search', url_get: '/admin/autocomplete-branch/'});
    </script>
{% endblock %}