{% extends "DWDCSAdminBundle:Layout:layout.html.twig" %}

{% block body %}
<div class="ch-container">
    <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
                <div>
        <ul class="breadcrumb">
            <li>
                <a href="/">首页</a>
            </li>
            <li>
                投诉确认
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="box col-md-15">
            <div class="box-inner">
                <div class="box-header well">
                    <h2><i class="glyphicon glyphicon-file"></i> {{ 'title.complaint_confirm'|trans }}</h2>
                </div> 
                <div class="box-content">
                    <form class="form-inline" role="form">

                        <div class="form-group has-feedback">
                            <label class="control-label" for="inputSuccess4">来源</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 商户投诉 - 编辑商户信息
                        </div> <br /><br />
                    
                        <div class="form-group has-feedback">
                            <label class="control-label" for="inputSuccess4">标签</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                            {#<button id=9 readonly=readonly class="btn btn-default btn-sm complaint-label">取消合作</button>&nbsp;&nbsp;#}
                            <button id=26 readonly=readonly class="btn btn-default btn-sm complaint-label">修改信息</button>
                        </div> <br /><br />
 
                        <div class="form-group has-feedback">
                            <label class="control-label">来电电话</label>&nbsp;&nbsp;
                            <input type="text" id="mobile" class="form-control" value="{{mobile}}">
                        </div> <br /><br />

             <!--           <div class="form-group has-feedback">
                            <label class="control-label">地址</label>&nbsp;&nbsp;
                            <input type="text" id="address" value="{{address}}" readonly=readonly class="form-control">
                        </div> <br /><br />  -->

                        <div class="form-group has-feedback">
                            <label class="control-label">验证电话</label>&nbsp;&nbsp;
                            <span id="redeemTels">{{redeemTels}}</span>
                        </div> <br /><br />

                        <div class="form-group has-feedback">
                            <label class="control-label">验证时间</label>&nbsp;&nbsp;
                            <span id="redeemTime">{{redeemTime}}</span>
                        </div> <br /><br />

                        <div class="form-group has-feedback">
                            <label class="control-label">门店电话</label>&nbsp;&nbsp;
                            <span id="branchTel">{{tel}}</span>
                        </div> <br /><br />

                        <div class="form-group has-feedback">
                            <label class="control-label">投诉方式</label>&nbsp;&nbsp;
                            <label class="checkbox-inline">
                                <input type="radio" name="complaintWay" checked=checked id="complaintWay" value=1> 客服电话 
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="complaintWay" id="complaintWay" value=2> 在线客服 
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="complaintWay" id="complaintWay" value=3> 其他 
                            </label> 
                        </div>  <br /><br />  
                        
                        <div class="form-group has-feedback">
                            <label class="control-label">备注</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <textarea id="note" class="autogrow">商户修改信息:
地址: {{address}}
验证电话: {{redeemTels}}
验证时间: {{redeemTime}}
门店电话: {{tel}}</textarea>
                        </div> <br /><br />

                        <div class="form-group has-feedback">
                            <label class="control-label">投诉状态</label>&nbsp;&nbsp;
                            <label class="checkbox-inline">
                                <input type="radio" id="status" checked=checked name="status" value=0> 待跟进 
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" id="status" name="status" value=1> 已解决 
                            </label> 
                        </div>  <br /><br /><br /><br /><br />
                        <div class="form-group has-feedback" style="margin-left: 32%">
                            <button type="button" id="confirm-back-btn" class="btn btn-primary">保存并继续</button>&nbsp;&nbsp;
                            <button type="button" id="confirm-index-btn" class="btn btn-primary">保存返回首页</button>&nbsp;&nbsp;
                            <button type="button" id="cancel-btn" class="btn btn-default">取消</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>  
</div>

<script type="text/javascript" >
    tags     =  [];
    function submit(){
        method         = $("#complaintWay:checked").val();
        status         = $("#status:checked").val();
        mobile         = $("#mobile").val();
        note           = $("#note").val();

        if( tags.length == 0 ){
            alert("请选择标签");
            return false;
        }

        phoneReg       = /^((0\d{2,3})-)(\d{7,8})(-(\d{3,}))?$/;
        telReg         = /^1[34875]\d{9}$/;

        if( false == phoneReg.test( mobile ) && false == telReg.test( mobile ) ){
            alert("请输入正确的手机号码");
            return false;
        }
        res            = false;
        $.ajax({    
            type:'post',        
            url:'/complaint/submit',
            async:false,
            data: { branchId:{{branchId}}, op: 'updateBranch', source: 2, mobile:mobile, status: status, method: method, note: note, tags: tags.join(','), address: "{{address}}", redeemTels:"{{redeemTels}}", redeemTime:"{{redeemTime}}", branchTel:"{{tel}}" },
            dataType:'json',    
            success:function(data){ 
                        if( data != 'null' ){
                            alert('提交成功'); 
                            res = true;
                        } else {
                            alert('提交失败'); 
                        }
                    },
            error:function (req,err) { 
                    alert('提交失败'); 
                  } 
        });

        return res;
    }

    $(document).ready(function() { 
 
        $(".complaint-label").click(function (e) {
            if( $(this).hasClass("btn-default") ){
                $(this).removeClass("btn-default");
                $(this).addClass("btn-primary");
                tags.push( $(this).attr("id") );
            } else {
                $(this).removeClass("btn-primary"); 
                $(this).addClass("btn-default");
                tags.splice($.inArray($(this).attr("id"),tags),1);
            }
 
            return false;
        });

        $("#confirm-back-btn").click(function (e) {

            if(!confirm("确认提交?")){
                return ;
            } 
            res = submit();
            if( res ){
               location.href = "{{referer|raw}}";
            }
        });

        $("#confirm-index-btn").click(function (e) {

            if(!confirm("确认提交?")){
                return ;
            } 
            res = submit();
            if( res ){
               location.href = '/';
            } 
        });

        $("#cancel-btn").click(function (e) {
            if(!confirm("确认取消?")){
                return ;
            }
            history.back();
        });
    });
</script>
{% endblock %}
